:root {
    --primary-color: #1a1a1a;
    --secondary-color: #fffcf7;
    --accent-color: #ff6a19;
    --selected-color: #fff4e9;
    --border: 0.125em solid var(--primary-color);
    --accent-border: 2px solid var(--selected-color);
    --active-color: #171717;
    --border-radius: 0.7em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'ZTNature', sans-serif;
    transition: all 0.1s ease;
}

body {
    user-select: none;
    background-color: var(--secondary-color);
}

.main {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

p {
    font-weight: 400;
    font-size: 18px;
    height: fit-content !important; 
}

.logo {
    font-weight: 700;
    font-size: 18px;
    margin-right: auto;
    margin-left: auto;
}

.metronome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    border-bottom: var(--border);
    height: fit-content;
    max-height: 70px;
}

.navbar .row {
    padding: 0.5em 1em;
    height: 100% !important;
    justify-content: start;
    gap: 0.5em;
    width: fit-content;
}

.time-sig, .sound-btn, .accent-toggle {
    padding: 0.6em 1.5em;
    border-radius: var(--border-radius);
    border: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    font-weight: 400;
}

.accent-toggle.off {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.accent-toggle.off:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.accent-toggle p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.time-sig-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0.5em;
    width: 100%;
    gap: 0.5em;
}

.col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tempo {
    font-size: 120px;
    margin: 0;
    font-weight: 500;
    margin-bottom: -0.15em;
}

.bpm {
    opacity: 0.5;
    font-size: 18px;
    margin: 0;
    margin-bottom: -0.8em;
}

.tap-btn p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.circle {
    width: 1.2em;
    height: 1.2em;
    border-radius: 500px;
    border: var(--border);
}

.circle.active {
    background-color: var(--primary-color);
}

.circle-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    padding: 0;
    padding-bottom: 1em;
}

.tap-btn, .play-btn {
    border: var(--border);
    padding: 0.5em 2em;
    border-radius: var(--border-radius);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.play-btn { border-radius: 100px; width: 50px; padding: 0.5em; }

.tap-btn:hover, .time-sig:hover, .play-btn:hover, .sound-btn:hover,
.accent-toggle:hover {
    background-color: var(--selected-color);
    cursor: pointer;
}

.sound-stuff {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sound-btn.active {
    opacity: 1;
    background-color: var(--accent-color);
}

.sound-btn {
    opacity: 0.5;
    font-size: 16px;
}

.title {
    font-size: 18px;
    font-weight: 500;
}

.row.win-btns {
    gap: 0;
}

.close-btn, .minimize-btn {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 1em;
    border-radius: 100px;
}

.close-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.minimize-btn:hover {
    background-color: var(--selected-color);
    cursor: pointer;
}

.bpm-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 20em;
    height: 0.5em;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    transition: background-color 0.3s ease; 
    position: relative;
    overflow: visible;
    display: flex;
    align-items: center;
}

.bpm-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color:var(--accent-color);
    width: 2em;
    height: 1em;
    transition: all 0.2s ease;
}

.bpm-slider::-moz-range-thumb {
    border: var(--border);
    border-radius: var(--border-radius);
    background-color:var(--accent-color);
    width: 2em;
    height: 1em;
    transition: all 0.2s ease;
}

.bpm-slider::-webkit-slider-thumb:hover {
    cursor: pointer;
}

.bpm-scrollbar {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
}

.bpm-scrollbar .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 0.5em 0em;
    width: 100%;
}

.min-tempo, .max-tempo {
    opacity: 0.5;
    font-size: 16px;
}
